
nav {
        background: url('../images/nav.jpg') center/cover;
        background-repeat: repeat-y;

    }

    nav a {
        color: #fff;
        -webkit-text-stroke: 1px #333;
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
        margin: 0 1rem;
        display: inline-block;
    }

    nav a:hover {
        text-decoration: underline;
    }

    body {
        background-image: url('../images/polkadotbg.jpg');
        background-repeat: repeat-x;
        background-size: cover;
        background-position: center;
        background-color: rgb(94, 94, 94);
    }

    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #000000;
        font-size: 20px;
        font-weight: bold;
        -webkit-text-stroke: .4px #333;
    }

    .container {
        max-width: 1080px;
        margin: 0 auto;
        padding: 2rem;
    }

    section {
        margin: 2rem 0;
    }

    footer {
        background: #333;
        color: #fff;
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
    }
    



    #elletext {
        /*font-style: italic;*/
        font-family: georgia, sans-serif;
        font-size: 36px;
        margin: 0;
        -webkit-text-fill-color: white;
        -webkit-text-fill-width: 3px;
        -webkit-text-stroke-width: 3px black;
        -webkit-text-stroke: 1px black;
    }